<div id="profile" class="section-dark container-fluid d p-5">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img alt="Profile Picture" class="w-50 rounded-circle mb-2"
                src="https://i.ibb.co/7GcRDj3/IMG-3035-prova.jpg" />
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="col-md-6 text-md-start text-center  text-white" id="introduction">
                <div class="row">
                    <h2>Hi, I am</h2>
                </div>
                <div class="row">
                    <h1 class="major-title">Mattia Marcenta</h1>
                </div>
                <div class="row">
                    <h3>Software Engineer</h3>
                </div>
            </div>
        </div>
    </div>
</div>