<div class="footer-container container-fluid section-light">
    <div class="row h-100">
        <div class="col-md-4 mt-2 d-flex justify-content-center align-items-center">
            <span class="text-muted">© {{ year }} Mattia Marcenta</span>
        </div>
        <div class="col-md-4  mt-2 d-flex justify-content-center align-items-center">
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="https://github.com/Matt185">
                        <i class="git-icon fab fa-github a-warning"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://www.instagram.com/james.cyj96/">
                        <i class="git-icon fab fa-linkedin a-warning"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mt-1 mb-1 d-flex justify-content-center align-items-center ">
            <a class="a-warning text-muted" href="{{ url_for('home') }}">Contact Me</a>
        </div>
        </dev>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    </body>

    </html>